// Layout/section container class
.tp-big-container {
    @apply w-full max-w-[1880px] mx-auto px-4;
}

.tp-container {
    @apply w-full max-w-[1300px] mx-auto px-5;
}

// Button class
.tp-primary-btn {
    @apply text-base font-semibold bg-primary-900 hover:bg-primary-400 text-white hover:text-white px-5 py-3 md:py-4 md:px-8 rounded-full transition duration-300;
}

.tp-primary-btn-light {
    @apply text-base font-semibold bg-primary-400 hover:bg-primary-900 text-white hover:text-white px-5 py-3 md:py-4 md:px-8 rounded-full transition duration-300;
}

.tp-transparent-white-btn {
    @apply text-base font-semibold bg-transparent hover:bg-white text-white hover:text-gray-800 border border-white px-5 py-3 md:py-4 md:px-8 rounded-full transition duration-300;
}

.tp-transparent-black-btn {
    @apply text-base font-semibold bg-transparent hover:bg-gray-800 text-gray-800 hover:text-white border border-gray-800 px-5 py-3 md:py-4 md:px-8 rounded-full transition duration-300;
}

.tp-action-btn {
    @apply text-[14px] font-semibold bg-primary-900 hover:bg-primary-400 text-white hover:text-white px-5 h-10 rounded-lg transition duration-300;
}

.tp-cancel-btn {
    @apply text-[14px] font-semibold bg-white hover:bg-primary-50 border border-primary-500 text-primary-500 px-5 h-10 rounded-lg transition duration-300;
}

// Form input related class
.tp-input {
    @apply w-full !text-sm bg-white font-medium border border-gray-300 hover:border-primary-400 focus:border-primary-400 focus-visible:ring-0 px-3 py-5;
}

.tp-textarea {
    @apply w-full !text-sm bg-white font-medium border border-gray-300 hover:border-primary-400 focus:border-primary-400 focus-visible:ring-0 px-3 py-2;
}

// Font related class
.section-sub-title {
    @apply text-[20px] sm:text-[26px] md:text-[36px] font-Nunito;
}

.section-title {
    @apply text-[30px] leading-[42px] sm:text-[34px] sm:leading-[48px] md:leading-[58px] md:text-[44px] font-bold tracking-tight;
}
.section-heading-paragraph {
    @apply text-base md:text-lg font-medium text-gray-700 tracking-tight;
}

// Drag Text style
.drag-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  user-select: none;
  will-change: transform, opacity;

  &.visible {
    opacity: 1;
  }
}