.hero-slider {
  height: 850px;
  position: relative;

  @media (max-width: 991px) {
    height: 600px;
  }
  @media (max-width: 767px) {
    height: 500px;
  }

  .swiper-slide {
    overflow: hidden;
    color: #fff;
  }

  .slide-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: transparent;
    width: 55px;
    height: 55px;
    border: 2px solid #d4d3d3;
    border-radius: 55px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &:after {
      font-size: 18px;
      color: #d4d3d3;
      font-weight: 900;
    }
  }

  &:hover .swiper-button-prev,
  &:hover .swiper-button-next {
    opacity: 1;
    visibility: visible;
  }

  .swiper-button-prev {
    left: 25px;
  }
  .swiper-button-next {
    right: 25px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #fff;
    opacity: 0.4;
    transition: all 0.2s ease;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .swiper-pagination {
    bottom: 40px !important;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
  }
}
